
    .ol-popup {
        position: absolute;
        background-color: white;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
        padding: 15px;
        border-radius: 10px;
        border: 1px solid #cccccc;
        bottom: 12px;
        left: -50px;
        min-width: 460px;
    

#popupTitle{
    width: 90%;
    display: inline-flex !important;
    color: #629FD7;
    
}




#closeButton{ 
    border: 0px;
    width: 10%;
    display: inline !important;
    transform: scale(3.0);
    background-color: transparent;
    color: #ED7D31;
   
}

.inline{
    display: inline;
}


#popupContent{
    max-height: 250px;
    overflow-y: scroll;
}
}

.font-tabular-lining {
    font-feature-settings: 'tnum';
    
}

@media (max-width:704px){

    .ol-popup {
        position: absolute;
        background-color: white;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
        padding: 15px;
        border-radius: 10px;
        border: 1px solid #cccccc;
        bottom: 12px;
        left: -50px;
        min-width: 225px;
        
    
    #popupTitle{
        font-size: 13px;
        width: 90%;
        display: inline-flex !important;
        color: #629FD7;
        
    }
    
    
    
    #closeButton{
        border: 0px;
        width: 10%;
        display: inline !important;
        transform: scale(2.0);
        background-color: transparent;
        color: #ED7D31;
       
    }
    .inline{
        display: inline;
    }
    
    
    #popupContent{
        font-size: 13px;
        max-height: 157px;
        overflow-y: scroll;
    }
    }

    .text-3xl {
        font-size: 1.2rem;
        line-height: 2.25rem;
      }

      #btn{
        padding: 8px;
        font-size: 14px;
      }

}

@media (max-width : 413px){
   
    .ol-popup {
        position: absolute;
        background-color: white;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
        padding: 15px;
        border-radius: 10px;
        border: 1px solid #cccccc;
        bottom: 12px;
        left: -50px;
        min-width: 225px;
        
    
    #popupTitle{
        font-size: 13px;
        width: 90%;
        display: inline-flex !important;
        color: #629FD7;
        
    }
    
    
    
    #closeButton{
        border: 0px;
        width: 10%;
        display: inline !important;
        transform: scale(2.0);
        background-color: transparent;
        color: #ED7D31;
       
    }
    .inline{
        display: inline;
    }
    
    
    #popupContent{
        font-size: 13px;
        max-height: 157px;
        overflow-y: scroll;
    }
    }

    .text-3xl {
        font-size: 1.2rem;
        line-height: 2.25rem;
      }

      #btn{
        padding: 8px;
        font-size: 14px;
      }
   
}