<div id="popup" class="ol-popup" [class.hidden]="isHide" *ngIf="popupInfoDynamic">
    <div class="justify-content-between">
        <div id="popupTitle" class="font-bold inline">{{titleMap?.value}}</div>
        <button id="closeButton" type="button" (click)="onClosePopup()" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>        
        </button>
    </div>
    <div id="popupContent" #popupContent>
        <div class="pt-2 flex gap-5" *ngFor="let popupInfo of propertiesMap | keyvalue: asIsOrder">
            <div *ngIf="popupInfo?.key !== 'Año'">
                <p class="flex items-center inline gap-1 font-bold font-tabular-lining">
                    <svg class="w-4 h-4 inline" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M10 10" /><circle cx="10" cy="12" r="4" fill="black"/>
                    </svg>
                    {{popupInfo?.key}}:
                </p>   
                <div class="inline">
                    <span class="">{{getFormatValue(popupInfo)}}</span>
                </div>
            </div>
        </div>
    </div>
</div>

