<div class="flex flex-col min-h-screen">
    <app-header class="pt-2 lg:pt-4 pb-2 lg:pb-5 px-2 lg:px-4 border-b-4 flex flex-col lg:flex-row justify-between"
        (searchEvent)="updateMap($event)"></app-header>
    <app-map class="flex-1" [wfsResponse]="wfsResponse">

    </app-map>
   <!--

  <ag-grid-angular
    class="ag-theme-alpine"
    [pagination]="true"
    [paginationAutoPageSize]="true"
    style="height: 300px; width: 40%; margin-left: 30%;"
    [rowData]="rowData"
    [columnDefs]="colDefs">
    </ag-grid-angular>

   -->
  

    <app-footer class="bg-white z-0 p-2 border-t-2 flex justify-between flex-grow-0 flex-1"></app-footer>

</div>

