.ancho{
    width: 100%;
    display: inline-flex;
}


.sin_bordes{
    border-collapse: unset;
    border-width: 0px;
 }

 ul > li {
    border-width: 0px !important;
 }

 [hidden] {
    display: none !important;
  }


span > .contenedor-medidas{
  height: fit-content;
}
.contenedor-medidas{
   text-align: center;
   color: #00475c;
   list-style-type: none;
   width: 100%;
   
}

.medidas{

 
   display: block;
   font-size: 40px;
   font-weight: bold;
  
   margin-bottom: 20px;
   transition: all 0.3s;
   position: relative;
 }


.button-radio-group {
  display: flex;
  gap: 8px;
}

.button-radio {
  /*border: 2px solid #007bff;
  border-radius: 6px;
  padding: 10px 16px;*/
  cursor: pointer;
  transition: 0.2s;
  user-select: none;
  display: flex;
  align-items: center;
}

/*.button-radio:hover {
  background-color: #e7f1ff;
}*/

.button-radio input[type="radio"] {
  display: none;
}

.button-radio:has(input[type="radio"]:checked) {
  background-color: #D6EAF0;
  color: #00607A;
  border-radius: 4px;
}

.button-radio span{
	margin:auto;
}