<div >
<mat-form-field appearance="fill">
  <mat-label>Seleccionar capa</mat-label>
  <mat-select [(value)]="selectedLayer" (selectionChange)="onSearch('')">
    <mat-option *ngFor="let layer of layerRelations" [value]="layer.value">
      {{layer.label}}
    </mat-option>
  </mat-select>
</mat-form-field>
</div>

<!-- test -->

<div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8"
    *ngIf="selectedLayer == 'nucleos_zbg_2021' || selectedLayer == 'nucleos_zbg_2022'">
    <!-- ['Nucleo','Codigo de la zona','Factor escenario y patrimonio','Factor movilidad','Factor equipamiento y servicio','Factor alojamiento','Factor económico','ISDT100','Area afectada del nucleo','Tipo de zona','Municipio (INE)', 'Año']  -->
    <!-- Position Column -->

    <ng-container matColumnDef="nucleo">
      <th mat-header-cell *matHeaderCellDef> Núcleo </th>
      <td mat-cell *matCellDef="let element"> {{element.nucleo}} </td>
    </ng-container>
    <ng-container matColumnDef="codigo_zona">
      <th mat-header-cell *matHeaderCellDef> Código de la zona </th>
      <td mat-cell *matCellDef="let element"> {{element.codigo_zona}} </td>
    </ng-container>
    <ng-container matColumnDef="f_escenario_patrimonio">
      <th mat-header-cell *matHeaderCellDef> Factor escenario y patrimonio </th>
      <td mat-cell *matCellDef="let element"> {{element.f_escenario_patrimonio}} </td>
    </ng-container>
    <ng-container matColumnDef="f_movilidad">
      <th mat-header-cell *matHeaderCellDef> Factor movilidad </th>
      <td mat-cell *matCellDef="let element"> {{element.f_movilidad}} </td>
    </ng-container>
    <ng-container matColumnDef="f_equipamiento_servicio">
      <th mat-header-cell *matHeaderCellDef> Factor equipamiento y servicio </th>
      <td mat-cell *matCellDef="let element"> {{element.f_equipamiento_servicio}} </td>
    </ng-container>
    <ng-container matColumnDef="f_alojamiento">
      <th mat-header-cell *matHeaderCellDef> Factor alojamiento </th>
      <td mat-cell *matCellDef="let element"> {{element.f_alojamiento}} </td>
    </ng-container>
    <ng-container matColumnDef="f_economico">
      <th mat-header-cell *matHeaderCellDef> Factor económico </th>
      <td mat-cell *matCellDef="let element"> {{element.f_economico}} </td>
    </ng-container>
    <ng-container matColumnDef="isdt_100">
      <th mat-header-cell *matHeaderCellDef> ISDT100 </th>
      <td mat-cell *matCellDef="let element"> {{element.isdt_100}} </td>
    </ng-container>
    <ng-container matColumnDef="por_afec_nucleo_x_zona">
      <th mat-header-cell *matHeaderCellDef> Área afectada del nucleo </th>
      <td mat-cell *matCellDef="let element"> {{element.por_afec_nucleo_x_zona}} % </td>
    </ng-container>
    <ng-container matColumnDef="tipo_zona">
      <th mat-header-cell *matHeaderCellDef> Tipo de zona </th>
      <td mat-cell *matCellDef="let element"> {{element.tipo_zona}} </td>
    </ng-container>
    <ng-container matColumnDef="municipio">
      <th mat-header-cell *matHeaderCellDef> Municipio </th>
      <td mat-cell *matCellDef="let element"> {{element.municipio}} </td>
    </ng-container>
    <ng-container matColumnDef="anio">
      <th mat-header-cell *matHeaderCellDef> Año </th>
      <td mat-cell *matCellDef="let element"> {{element.anio}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns">
    </tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns">
    </tr>
  </table>


</div>



<div>
  <table mat-table [dataSource]="dataSourceCentros" class="mat-elevation-z8"
    *ngIf="selectedLayer == 'centros_educativos_zbg_2021' || selectedLayer == 'centros_educativos_zbg_2022' || selectedLayer == 'instalaciones_sanitarias_zbg_2021' || selectedLayer == 'instalaciones_sanitarias_zbg_2022'">
    <!-- ['Nucleo','Codigo de la zona','Factor escenario y patrimonio','Factor movilidad','Factor equipamiento y servicio','Factor alojamiento','Factor económico','ISDT100','Area afectada del nucleo','Tipo de zona','Municipio (INE)', 'Año']  -->
    <!-- Position Column -->

    <!-- <mat-text-column name="nucleo"></mat-text-column> 
      <mat-text-column name="codigo_zona"></mat-text-column>  -->

    <ng-container matColumnDef="centro">
      <th mat-header-cell *matHeaderCellDef> Centro </th>
      <td mat-cell *matCellDef="let element"> {{element.centro}} </td>
    </ng-container>
    <ng-container matColumnDef="codigo_zona">
      <th mat-header-cell *matHeaderCellDef> Código de la zona </th>
      <td mat-cell *matCellDef="let element"> {{element.codigo_zona}} </td>
    </ng-container>
    <ng-container matColumnDef="tipo_zona">
      <th mat-header-cell *matHeaderCellDef> Tipo zona </th>
      <td mat-cell *matCellDef="let element"> {{element.tipo_zona}} </td>
    </ng-container>

    <ng-container matColumnDef="localidad">
      <th mat-header-cell *matHeaderCellDef> Localidad </th>
      <td mat-cell *matCellDef="let element"> {{element.localidad}} </td>
    </ng-container>
    <ng-container matColumnDef="anio">
      <th mat-header-cell *matHeaderCellDef> Año </th>
      <td mat-cell *matCellDef="let element"> {{element.anio}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

  </table>


</div>

<div>
  <table mat-table [dataSource]="dataSourcePoligonos" class="mat-elevation-z8"
    *ngIf=" selectedLayer == 'poligonos_zbg_2021' || selectedLayer == 'poligonos_zbg_2022'">
    <!-- ['Nucleo','Codigo de la zona','Factor escenario y patrimonio','Factor movilidad','Factor equipamiento y servicio','Factor alojamiento','Factor económico','ISDT100','Area afectada del nucleo','Tipo de zona','Municipio (INE)', 'Año']  -->
    <!-- Position Column -->

    <!-- <mat-text-column name="nucleo"></mat-text-column> 
      <mat-text-column name="codigo_zona"></mat-text-column>  -->

    <ng-container matColumnDef="nombre_poligono">
      <th mat-header-cell *matHeaderCellDef> Nombre polígono </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre_poligono}} </td>
    </ng-container>
    <ng-container matColumnDef="codigo_zona">
      <th mat-header-cell *matHeaderCellDef> Código de la zona </th>
      <td mat-cell *matCellDef="let element"> {{element.codigo_zona}} </td>
    </ng-container>
    <ng-container matColumnDef="tipo_zona">
      <th mat-header-cell *matHeaderCellDef> Tipo zona </th>
      <td mat-cell *matCellDef="let element"> {{element.tipo_zona}} </td>
    </ng-container>

    <ng-container matColumnDef="localidad">
      <th mat-header-cell *matHeaderCellDef> Localidad </th>
      <td mat-cell *matCellDef="let element"> {{element.localidad}} </td>
    </ng-container>
    <ng-container matColumnDef="anio">
      <th mat-header-cell *matHeaderCellDef> Año </th>
      <td mat-cell *matCellDef="let element"> {{element.anio}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

  </table>


</div>

<div>
  <table mat-table [dataSource]="dataSourceInmobiliarias" class="mat-elevation-z8"
    *ngIf=" selectedLayer == 'ui_zbg_2022_x_muni'">
    <!-- ['Nucleo','Codigo de la zona','Factor escenario y patrimonio','Factor movilidad','Factor equipamiento y servicio','Factor alojamiento','Factor económico','ISDT100','Area afectada del nucleo','Tipo de zona','Municipio (INE)', 'Año']  -->
    <!-- Position Column -->

    <!-- <mat-text-column name="nucleo"></mat-text-column> 
      <mat-text-column name="codigo_zona"></mat-text-column>  -->

    <ng-container matColumnDef="municipio">
      <th mat-header-cell *matHeaderCellDef> Municipio </th>
      <td mat-cell *matCellDef="let element"> {{element.municipio}} </td>
    </ng-container>
    <ng-container matColumnDef="tipo_zona">
      <th mat-header-cell *matHeaderCellDef> Tipo zona </th>
      <td mat-cell *matCellDef="let element"> {{element.tipo_zona}} </td>
    </ng-container>
    <ng-container matColumnDef="codigo_zona">
      <th mat-header-cell *matHeaderCellDef> Código de la zona </th>
      <td mat-cell *matCellDef="let element"> {{element.codigo_zona}} </td>
    </ng-container>

    <ng-container matColumnDef="ui_total">
      <th mat-header-cell *matHeaderCellDef> Unidades Inmobiliarias Totales
      </th>
      <td mat-cell *matCellDef="let element"> {{element.ui_total}} </td>
    </ng-container>
    <!-- <ng-container matColumnDef="uis_a">
      <th mat-header-cell *matHeaderCellDef> Almacén-Estacionamiento </th>
      <td mat-cell *matCellDef="let element"> {{element.uis_a}} </td>
    </ng-container>
    <ng-container matColumnDef="uis_b">
      <th mat-header-cell *matHeaderCellDef> Almacén agrario </th>
      <td mat-cell *matCellDef="let element"> {{element.uis_b}} </td>
    </ng-container>
    <ng-container matColumnDef="uis_c">
      <th mat-header-cell *matHeaderCellDef> Comercial </th>
      <td mat-cell *matCellDef="let element"> {{element.uis_c}} </td>
    </ng-container>
    <ng-container matColumnDef="uis_e">
      <th mat-header-cell *matHeaderCellDef> Cultural </th>
      <td mat-cell *matCellDef="let element"> {{element.uis_e}} </td>
    </ng-container>

    <ng-container matColumnDef="uis_g">
      <th mat-header-cell *matHeaderCellDef> Ocio y Hostelería </th>
      <td mat-cell *matCellDef="let element"> {{element.uis_g}} </td>
    </ng-container>
    <ng-container matColumnDef="uis_i">
      <th mat-header-cell *matHeaderCellDef> Industrial </th>
      <td mat-cell *matCellDef="let element"> {{element.uis_i}} </td>
    </ng-container>
    <ng-container matColumnDef="uis_k">
      <th mat-header-cell *matHeaderCellDef> Deportivo </th>
      <td mat-cell *matCellDef="let element"> {{element.uis_k}} </td>
    </ng-container>
    <ng-container matColumnDef="uis_m">
      <th mat-header-cell *matHeaderCellDef> Obras de urbanización y jardinería </th>
      <td mat-cell *matCellDef="let element"> {{element.uis_m}} </td>
    </ng-container>
    <ng-container matColumnDef="uis_o">
      <th mat-header-cell *matHeaderCellDef> Oficinas </th>
      <td mat-cell *matCellDef="let element"> {{element.uis_o}} </td>
    </ng-container>

    <ng-container matColumnDef="uis_p">
      <th mat-header-cell *matHeaderCellDef> Edificio singular </th>
      <td mat-cell *matCellDef="let element"> {{element.uis_p}} </td>
    </ng-container>
    <ng-container matColumnDef="uis_r">
      <th mat-header-cell *matHeaderCellDef> Religioso </th>
      <td mat-cell *matCellDef="let element"> {{element.uis_r}} </td>
    </ng-container>
    <ng-container matColumnDef="uis_t">
      <th mat-header-cell *matHeaderCellDef> Espectáculos </th>
      <td mat-cell *matCellDef="let element"> {{element.uis_t}} </td>
    </ng-container>
    <ng-container matColumnDef="uis_v">
      <th mat-header-cell *matHeaderCellDef> Residencial (Viviendas) </th>
      <td mat-cell *matCellDef="let element"> {{element.uis_v}} </td>
    </ng-container>
    <ng-container matColumnDef="uis_y">
      <th mat-header-cell *matHeaderCellDef> Sanidad y Beneficiencia </th>
      <td mat-cell *matCellDef="let element"> {{element.uis_y}} </td>
    </ng-container>

    <ng-container matColumnDef="uis_j">
      <th mat-header-cell *matHeaderCellDef> Industrial agrario </th>
      <td mat-cell *matCellDef="let element"> {{element.uis_j}} </td>
    </ng-container>
    <ng-container matColumnDef="uis_z">
      <th mat-header-cell *matHeaderCellDef> Agrario </th>
      <td mat-cell *matCellDef="let element"> {{element.uis_z}} </td>
    </ng-container> -->
    <ng-container matColumnDef="isdt_100">
      <th mat-header-cell *matHeaderCellDef> ISDT100 </th>
      <td mat-cell *matCellDef="let element"> {{element.isdt_100}} </td>
    </ng-container>
    <ng-container matColumnDef="f_economico">
      <th mat-header-cell *matHeaderCellDef> Factor económico </th>
      <td mat-cell *matCellDef="let element"> {{element.f_economico}} </td>
    </ng-container>
    <ng-container matColumnDef="f_alojamiento">
      <th mat-header-cell *matHeaderCellDef> Factor alojamiento </th>
      <td mat-cell *matCellDef="let element"> {{element.f_alojamiento}} </td>
    </ng-container>

    <ng-container matColumnDef="f_equpiamiento_servicio">
      <th mat-header-cell *matHeaderCellDef> Factor equipamiento y servicio
      </th>
      <td mat-cell *matCellDef="let element"> {{element.f_equpiamiento_servicio}} </td>
    </ng-container>
    <ng-container matColumnDef="f_movilidad">
      <th mat-header-cell *matHeaderCellDef> Factor movilidad </th>
      <td mat-cell *matCellDef="let element"> {{element.f_movilidad}} </td>
    </ng-container>
    <ng-container matColumnDef="f_escenario_patrimonio">
      <th mat-header-cell *matHeaderCellDef> Factor escenario y patrimonio </th>
      <td mat-cell *matCellDef="let element"> {{element.f_escenario_patrimonio}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

  </table>


</div>
<mat-paginator [length]="totalLength" [pageSize]=10 [pageSizeOptions]="[10]" showFirstLastButtons
  aria-label="Select page">
</mat-paginator>