// .mat-row {
//     height: auto;
//   }

.mat-cell {
  font-size: 12px;
  }

//   .mat-header-row {
//     height: auto;
//   }

.mat-header-cell {
  font-size: 14px;
  }

// th.mat-header-cell{
//   padding: 8px 8px 8px 8px;

// }

table.mat-table {
  width: 100%;
}