<div id="general_div" class="relative">

    <div id="div_selector" class="">


        <form id="form" class="flex flex-col">
            <mat-form-field appearance="outline" id="selector">
                <mat-label> Seleccionar capa</mat-label>
                <mat-select class="selector" multiple [(ngModel)]="selectedLayers" [compareWith]="comparer">
                    <mat-optgroup *ngFor="let elem of layerRelations" [label]="elem.optGroup">
                        <mat-option *ngFor="let option of elem.options" (onSelectionChange)="capture($event)"
                            [value]="option.value" [disabled]="!option.isEnabled">{{option.label}}</mat-option>
                    </mat-optgroup>
                </mat-select>
            </mat-form-field>
        </form>


        <!--FINISH SELECTOR-->

    </div>

    <div id="buscador" *ngIf="search == true">

        <form class="flex flex-col" *ngIf="isSearching" (submit)="onSearch(searchstring.value)">
            <mat-form-field title="Buscar por nombre de municipio" class="example-full-width" id="form_buscar"
                appearance="outline">
                <mat-label for="search" id="search_label">Buscar por nombre de municipio</mat-label>
                <input matInput autofocus class="border-4 px-4" name="search" id="search" placeholder="Buscar"
                    type="text" spellcheck="false" inputmode="text" #searchstring
                    (keydown.enter)="onSearch(searchstring.value)">
            </mat-form-field>
            <button class="mobile-btn" type="submit">Buscar</button>
        </form>

    </div>


    <!-- Contenedor resultados -->
    <div id="results" *ngIf="!isSearching && !isError">
        <div type="button" class="inline-flex items-center px-4 py-2 text-base leading-6 font-medium rounded-md"
            disabled="" *ngIf="!isDone">
            <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-black" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 24 24">
                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                <path class="opacity-75" fill="currentColor"
                    d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
                </path>
            </svg>
            <p>{{searchText}}</p>
        </div>

        <div id="finder" class="flex items-center" *ngIf="isDone">
            <div class="flex flex-col mr-5">
                <span class="text-gray-700 tracking-tight">Búsqueda</span>
                <span class="font-bold text-3xl font-tabular-lining">{{searchText}}</span>
            </div>
            <div>

                <button (click)="isDone = false; isSearching = true" id="btn"
                    class="inline-flex items-center border border-gray-300 shadow-sm text-sm leading-4 font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                    Buscar otro
                </button>
            </div>
        </div>
    </div>
    <div class="mb-1 flex items-center gap-1 font-semibold tracking-tight text-red-500" *ngIf="isError">
        <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd"
                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z"
                clip-rule="evenodd" />
        </svg>
        <span>{{errorStatus}}</span>
        <div id="finder">
            <button (click)="isDone = false; isSearching = true; isError = false"
                class="inline-flex items-center px-3 py-2 border border-gray-300 shadow-sm text-sm leading-4 font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                Buscar otro
            </button>
        </div>
    </div>
</div>