/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-alpine.css";


html, body { height: 100%; 
display: inline;}
img.arrow-down-white {
    display: inline;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
